asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.0
dj-database-url==3.1.2
Django==6.0.7
django-anymail==15.1
django-axes==8.3.1
django-environ==0.14.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
idna==3.18
packaging==26.3
pillow==12.3.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-dateutil==2.9.0.post0
requests==2.34.2
sib-api-v3-sdk==7.6.0
six==1.17.0
sqlparse==0.5.5
telerivet==1.9.6
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
